
<div class="main">
  <div class="second">
  <span (click)="goHome() " class="home"><i class="fa-solid fa-house"></i> Movies:&nbsp;</span>
  <ul>
    <li><strong>fun</strong> to watch</li>
    <li>sometimes <strong>quirky</strong></li>
    <li>occasionally <strong>not</strong> what you expect</li>
    <li><strong>emotions</strong></li>
    <li>an <strong>art</strong> medium</li>
  </ul>
  <span (click)="goAdmin()" class="right"><i class="fa-sharp fa-solid fa-ticket"></i> MovieMation</span>
</div>
</div>
