
<h2>booking details</h2>
<table mat-table [dataSource]="dataSource">
  <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
    <th mat-header-cell *matHeaderCellDef>
      <br>
      {{ col.label }}
      <br>
      <mat-form-field *ngIf="col.key=== 'Name'" class="filter" floatLabel="never">
        <mat-label> Search</mat-label>
        <input matInput [formControl]="nameFilter">
      </mat-form-field>
      <mat-form-field *ngIf="col.key=== 'MovieName'" class="filter" floatLabel="never">
        <mat-label> Search</mat-label>
        <input matInput [formControl]="MovieNameFilter">
      </mat-form-field>
      <mat-form-field *ngIf="col.key=== 'Showtime'" class="filter" floatLabel="never">
        <mat-label> Search</mat-label>
        <input matInput [formControl]="ShowtimeFilter">
      </mat-form-field>
      <mat-form-field *ngIf="col.key=== 'phno'" class="filter" floatLabel="never">
        <mat-label> Search</mat-label>
        <input matInput [formControl]="phnoFilter">
      </mat-form-field>

    </th>
    <td mat-cell *matCellDef="let element">
      <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
        <div class="btn-edit" *ngSwitchCase="'isEdit'">
          <button mat-button (click)="element.isEdit = !element.isEdit">
            Edit
          </button>
        </div>
        <span *ngSwitchDefault>
          {{ element[col.key] }}
        </span>
      </div>

      <div [ngSwitch]="col.key" *ngIf="element.isEdit">
        <div class="btn-edit" *ngSwitchCase="'isEdit'">
          <button mat-button (click)="element.isEdit = !element.isEdit" (click)="confirm(element)">
            Done
          </button>
        </div>
        <mat-form-field class="form-input" *ngSwitchCase="'Tickets'">
          <input
            required
            type="number"
            matInput
            (ngModelChange)="element[col.key] = $event"
            [ngModel]="element[col.key]"
          />
        </mat-form-field>
        <mat-form-field class="form-input" *ngSwitchCase="'Name'">
          <input required [type]="col.type" matInput [(ngModel)]="element[col.key]" #name="ngModel" minlength="4" />
        </mat-form-field>
<!--         <mat-form-field class="form-input" *ngSwitchCase="'MovieName'">
          <input required [type]="col.type" matInput [(ngModel)]="element[col.key]" />
        </mat-form-field> -->
        <mat-form-field class="form-input" *ngSwitchCase="'Showtime'">
          <select matNativeControl required [(ngModel)]="element[col.key]">
            <option value="day">day</option>
            <option value="night">night</option>
            <option value="evening">evening</option>
          </select>
        </mat-form-field>
        <mat-form-field class="form-input" *ngSwitchCase="'phno'">
          <input (keypress)="numberOnly($event)" required [type]="col.type" matInput [(ngModel)]="element[col.key]" />
        </mat-form-field>
        <div *ngSwitchDefault>
          {{ element[col.key] }}
        </div>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
